$brand-primary: #391e5a !default;
$my-color: #333333 !default;
$my-Font: sans-serif;
$my-Size: 14px;
$my-Style: normal;
$my-line-height: normal;
@mixin typography($font-weight) {
  color: $my-color;
  font-family: $my-Font;
  font-size: $my-Size;
  font-style: $my-Style;
  font-weight: $font-weight;
  line-height: $my-line-height;
}
